/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
/*
=============== 
Variables
===============
*/
:root {
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  --clr-primary-5: hsl(42, 78%, 60%);
  --clr-primary-6: hsl(43, 89%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-black: #222;
  --clr-green: #678e3e;
  --clr-orange: #f0a202;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --shadow: 0px 0px 10px #fff;
  --shadow-dark: 0px 0px 10px #222;
  --shadow-yellow: 0px 0px 10px #ffff00;
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
  color: var(--clr-black);
}
p {
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
span {
  font-family: "Merienda", cursive;
}
.btn {
  text-transform: uppercase;
  background: var(--clr-orange);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 1rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}
.btn:hover {
  color: var(--clr-primary-5);
  background: var(--clr-primary-1);
}
.underline {
  margin-bottom: 0.5rem;
  background: var(--clr-orange);
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
  height: 0.12rem;
  transition: var(--transition);
}
.section {
  padding-top: 2rem;
  min-height: 100vh;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (max-width: 676px) {
  .section-center {
    max-width: 25rem;
  }
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
.section-title {
  margin-bottom: 3rem;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .section-title {
    margin-bottom: 2rem;
  }
}
.refresh {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.refresh-icon {
  margin-left: 0.25rem;
  font-size: 1.15rem;
}
/*
=============== 
Loading
===============
*/
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--clr-orange);
  animation: spinner 0.6s linear infinite;
}
/*
=============== 
Error
===============
*/
.section-error {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: var(--clr-primary-10);
  text-align: center;
}
.section-error h1 {
  color: var(--clr-grey-1);
  font-size: 10rem;
}
.section-error h3 {
  color: var(--clr-grey-5);
  margin-bottom: 1.5rem;
}
/*
=============== 
Home
===============
*/
.section-home {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: var(--clr-black);
  padding-top: 0;
}
.section-home .section-title {
  margin-bottom: 0;
  color: var(--clr-orange);
  align-self: end;
}
.home-center {
  margin: 0 auto;
  width: 80vw;
  height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
}
.home-btn {
  text-transform: uppercase;
  background: var(--clr-orange);
  color: var(--clr-white);
  padding: 1.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 1.5rem;
  border: 2px solid transparent;
  cursor: pointer;
  margin: 2rem 0;
}
.home-btn:hover {
  color: var(--clr-orange);
  background: var(--clr-white);
  box-shadow: var(--shadow);
  transform: scale(1.05);
}
.home-title {
  text-transform: uppercase;
  color: var(--clr-white);
  margin-bottom: 0;
  font-size: 2rem;
}
.home-text {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 0.85rem;
  line-height: 2;
  color: var(--clr-white);
}
.home-icon {
  font-size: 3rem;
  margin-top: 1rem;
  color: var(--clr-orange);
}
.prev,
.next {
  position: absolute;
  top: 75px;
  transform: translateY(-50%);
  background: var(--clr-orange);
  color: var(--clr-white);
  width: 1.75rem;
  height: 1.75rem;
  font-size: 1rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}
.prev:hover,
.next:hover {
  background: var(--clr-white);
  color: var(--clr-orange);
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
@media screen and (min-width: 576px) {
  .home-btn {
    font-size: 2.5rem;
  }
  .prev,
  .next {
    font-size: 1.5rem;
    width: 2.15rem;
    height: 2.15rem;
  }
}
@media (min-width: 800px) {
  .text {
    max-width: 45em;
  }
  .prev,
  .next {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    top: 100px;
  }
  .home-btn {
    font-size: 4rem;
  }
}
.section-home article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

/*
=============== 
Sports
===============
*/
.section-sports {
  background: var(--clr-black);
}
.section-sports h2 {
  color: var(--clr-white);
}
.section-sports .btn {
  color: var(--clr-primary-1);
  background: var(--clr-white);
}
.section-sports .btn:hover {
  color: var(--clr-white);
  background: var(--clr-orange);
  box-shadow: var(--shadow);
}
.sports-center {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  column-gap: 2rem;
}
.sport-card {
  background: var(--clr-white);
  padding: 1.5rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: var(--radius);
  text-align: center;
  transition: var(--transition);
  position: relative;
}
.sport-card p {
  transition: var(--transition);
  color: var(--clr-grey-1);
}
.sport-icon {
  transition: var(--transition);
}
.sport-card:hover {
  background: var(--clr-orange);
  color: var(--clr-white);
  transform: scale(1.01);
  box-shadow: var(--shadow);
}
.sport-card:hover p {
  color: var(--clr-white);
}
.sport-card:hover h4 {
  color: var(--clr-white);
}
.sport-card:hover .underline {
  background: var(--clr-white);
}
.sport-card:hover .sport-icon {
  transform: translateY(-2px);
}
.sport-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.25rem solid var(--clr-white);
  border-radius: var(--radius);
  transition: var(--transition);
  opacity: 0;
}
.sport-card:hover::after {
  opacity: 1;
  transform: scale(0.9);
}
@media screen and (min-width: 676px) {
  .sports-center {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .sports-center {
    grid-template-columns: repeat(3, 1fr);
  }
}
/*
=============== 
Movies
===============
*/
.section-movies {
  background: var(--clr-grey-10);
}
.section-movies .btn {
  color: var(--clr-black);
  background: var(--clr-white);
}
.section-movies .btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}
.movies-center {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  column-gap: 2rem;
}
.movie-card {
  margin-bottom: 2rem;
  height: 25rem;
  position: relative;
  perspective: 1500px;
}
.card-side {
  transition: all 1s linear;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
}
.card-front {
  background: var(--clr-white);
  display: flex;
  flex-direction: column;
}
.card-back {
  background: var(--clr-black);
  transform: rotateY(180deg);
  display: grid;
  place-items: center;
}
.card-back img {
  max-width: 18.5rem;
  max-height: 18.5rem;
  object-fit: cover;
  border: 0.1rem solid var(--clr-white);
  border-radius: 50%;
}
.movie-card:hover .card-front {
  transform: rotateY(-180deg);
}
.movie-card:hover .card-back {
  transform: rotateY(0);
}
.card-info {
  padding: 1rem;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.card-info p {
  color: var(--clr-grey-1);
  margin-bottom: 1rem;
  font-size: 0.75rem;
}
.card-front img {
  height: 13rem;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.card-footer {
  flex: 1 1 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.card-footer img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  box-shadow: var(--shadow-dark);
  border-radius: 50%;
  order: 1;
}
.card-footer p {
  margin-bottom: 0;
  text-transform: uppercase;
  color: var(--clr-black);
  font-size: 0.85rem;
}
@media screen and (min-width: 676px) {
  .movies-center {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .movies-center {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1100px) {
  .card-back img {
    max-width: 21.5rem;
    max-height: 21.5rem;
  }
}
/*
=============== 
Animals
===============
*/
.section-animals {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("./images/nature2.jpg") center/cover no-repeat;
}
.section-animals h2 {
  color: var(--clr-white);
}
.section-animals .btn {
  color: var(--clr-white);
  background: var(--clr-green);
}
.section-animals .btn:hover {
  color: var(--clr-green);
  box-shadow: var(--shadow-yellow);
  background: var(--clr-white);
}
.animal-card {
  text-align: center;
  margin-bottom: 2rem;
  transition: var(--transition);
  border-radius: var(--radius);
  position: relative;
}
.animal-picture-container {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    var(--clr-green);
  border: 0.1rem solid var(--clr-green);
  border-radius: var(--radius);
  overflow: hidden;
}
.animal-picture {
  display: block;
  width: 100%;
  transition: var(--transition);
  opacity: 0.5;
}
.animal-picture-container:hover .animal-picture {
  opacity: 0.75;
  transform: scale(1.2);
}
.animal-text {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--clr-white);
  font-size: 1rem;
}
@media screen and (min-width: 676px) {
  .animals-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .animals-center {
    grid-template-columns: repeat(3, 1fr);
  }
}
/*
=============== 
Recent
===============
*/
.recent {
  padding-bottom: 0.75rem;
}
.recent .section-title {
  margin-bottom: 0.75rem;
  text-align: left;
  margin-left: 1.5rem;
}
.recent h2 {
  font-size: 1.5rem;
}
.recent-card p {
  color: var(--clr-white);
  flex: 1 1 auto;
}
.recent-center {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.recent-icon {
  margin-right: 0.5rem;
  color: var(--clr-white);
  flex: 0 0 1rem;
}
@media screen and (min-width: 992px) {
  .recent-card p {
    max-width: 50rem;
  }
}
.section-movies .recent-card p {
  color: var(--clr-black);
}
.section-animals .recent-card p {
  color: var(--clr-white);
}
.section-movies .recent-icon {
  color: var(--clr-black);
}
.section-animals .recent-icon {
  color: var(--clr-white);
}
